<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.phonegap.Memorize"
        version="1.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Memorize</name>
    <description>
        Build your ability for retention. It sharpens your mind.
    </description>
    <author email="tolulopeibiyode@gmail.com" href="#">
        Gods1son
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="webviewbounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <icon height="48" src="android-icon-48x482.png" width="48"/>
    <icon height="48" platform="android" src="android-icon-48x482.png" width="48"/>
    <icon height="48" platform="ios" src="android-icon-48x482.png" width="48"/>
    <icon height="48" platform="windows" src="android-icon-48x482.png" width="48"/>
    <!--<preference name="orientation" value="portrait"/>-->
    <plugin name="cordova-plugin-dialogs" source="npm"/>
    <plugin name="cordova-plugin-exitapp" source="npm"/>
    <plugin name="cordova-plugin-firebase" spec="^2.0.0" />
    
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
</widget>
